.number-card {
  box-shadow: 0 0 0 2px #000;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;

  &__wrapper {
    padding: 10px 20px;
    height: 100%;
    box-sizing: border-box;
  }

  &__container-main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; // добавляем, чтобы на малых экранах элементы не липли
  }

  &__title {
    padding-block: 20px;
    font-size: 40px;
    transition: font-size 0.3s ease;
  }

  &__number {
    z-index: 0;
    font-size: 150px;
    opacity: 0.1;
    transition: font-size 0.3s ease;
  }

  &__description {
    opacity: 0;
    visibility: hidden;
    font-size: 18px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  &__item-list {
    font-size: clamp(2.5rem, 0.625rem + 2.0833vw, 3.125rem);
  }

  &:hover {
    .number-card__description {
      opacity: 1;
      visibility: visible;
    }

    box-shadow: 0 0 0 0 #000;
  }
}

// === АДАПТИВ ===
@media (max-width: 1024px) {
  .number-card {
    &__title {
      font-size: 32px;
    }

    &__number {
      font-size: 120px;
    }
  }
}

@media (max-width: 768px) {
  .number-card {
    &__container-main-info {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &__title {
      font-size: 28px;
      padding-block: 10px;
    }

    &__number {
      font-size: 100px;
    }

    &__description {
      opacity: 1;
      visibility: visible;
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .number-card {
    &__title {
      font-size: 24px;
    }

    &__number {
      font-size: 80px;
    }

    &__wrapper {
      padding: 10px 15px;
    }
  }
}
