@use '../variables' as *;

@mixin link($size, $color: white, $underline: none) {
	color: $color;
	font-size: $size;
	opacity: $opacity;
	text-decoration: none;
	transition: opacity $time-transition;
	underline: $underline;

	&:hover {
		opacity: 1;
	}
}
