@use '~styles/variables' as *;

.common {
  &__wrapper-content {
    font-family: $font-family;
  }

  &__wrapper-container {
    margin-inline: 100px;
    padding-block: 70px;
  }

  &__title {
    font-size: $title-fonts-size;
    font-weight: 600;
  }

  &__link {
    text-decoration: none;
    color: $base-color;
    transition: $transition-opacity-effect;

    &:hover {
      opacity: $hover-opacity-effect;
    }
  }
}
